{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="mw8 center ph3 ph5-l">

    <header class="mt4">
      <h1 class="f1 athelas mb1">
        {{- .Title -}}
      </h1>
      {{ if not .Date.IsZero }}
      <time class="f6 mv4 dib tracked" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{- .Date.Format "January 2, 2006" -}}
      </time>
      {{ end }}
    </header>

    <section class="nested-copy-line-height lh-copy serif f4 nested-links nested-img mid-gray">
      {{- .Content -}}
      {{- partial "tags.html" . -}}
    </section>

  </article>
{{ end }}
